<section class="photo_album_feed_bundle">
    <section class="container">
        <div class="py-5">
            {{ content.field_cavalla_photo_album_feeds[0] }}
        </div>
    </section>
</section>
