<header id="header" class="header" role="banner" aria-label="Site header">
  <nav class="navbar-dark bg-dark">
    <div id="showMenu">
      <div class="menu px-4">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <a class="navbar-brand" href="#">{{ logo }}</a>
    {{ page.cart }}
    <div class="menu-wrap">
      <div class="icon-list">
      {{ page.primary_menu }}
      <div>
	  </div>
  </nav>
</header>