 <!--Hero Image-->
 <section class="hero_image">
    <img  class="background_image" src="{{ base_url }}/themes/contrib/sp_theme/build/image/multicolored-abstract-painting-1012982.jpg" />
    <section class="marketing_background_text center_text">
        <section class="container">
            <h1 class="title-header">{{ page_title }}</h1>
    	</section>
    </section>
</section>
<!--Hero Image-->
